body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
}

header {
    background: hotpink;
    color: rgb(72, 254, 248);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    /* background-color: aqua;  */
}

.project {
    border: 1px solid hotpink;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: hotpink;
    color: rgb(72, 254, 248);
}
